<!-- <h2>Products:</h2> -->
<div class="grid grid-cols-2">
    
    <div class="relative mr-3 mb-3">
        <a href="/products/women"><img src="images/women.jpeg" alt="womens sport"></a>
        <h2 class="absolute text-4xl text-white top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"><a href="/products/women">WOMEN</a></h2>
    </div>

    <div class="relative mr-3 mb-3">
        <a href="/products/men"><img src="images/man.jpeg" alt="mens sport"></a>
        <h2 class="absolute text-4xl text-white top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"><a href="/products/men">MEN</a></h2>
    </div>

    <div class="relative mr-3 mb-3">
        <a href="/products/kids"><img src="images/kids.jpeg" alt="kids sport"></a>
        <h2 class="absolute text-4xl text-white top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"><a href="/products/kids">KIDS</a></h2>
    </div>

    <div class="relative mr-3 mb-3">
        <a href="/sports"><img src="images/sports.jpg" alt="sports general"></a>
        <h2 class="absolute text-4xl text-white top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"><a href="/sports">SPORTS</a></h2>
    </div>
</div>




