<div class="home">
    {{#each product}}
        <img src="{{image}}" alt="product image">
        <p>{{title}}</p>
        <p>{{price}}</p>
        {{#each rating}}
            <p>{{rate}}</p>
        {{/each}}
    {{/each}}
</div>