<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      <div>
         <nav>
            <ul>
               <li>Home</li>
               <li>Buy</li>
               <li>Sell</li>
            </ul>
         </nav>
      </div>
      <div>
         {{{body}}}
      </div>
      <footer>
         <div>
            <div>123456789</div>
         </div>
         <div>
            <div>Title</div>
         </div>
         <div>
            <p>About</p>
            <p>Terms and Conditions</p>
            <div><a href="">Contact</a></div>
         </div>
      </footer>

      

      <script src="/js/script.js"></script>
   </body>

</html>