<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
	   <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
   </head>

   <body class="bg-white">
      <!-- for the whole screen-->
      <div class="flex flex-col">
         <div class="grid grid-cols-3">
            <div class="p-3 flex flex-col justify-between">
               <nav>

                  <ul class="text-l font-bold">
                     <li><a href="/" class="text-xl">HOME</a></li>
                     <li><a href="/products/sports">SPORTS</a></li>

                     <li><a href="/products/women">WOMEN</a></li>
                     <li><a href="/products/men">MEN</a></li>
                     <li><a href="/products/kids">KIDS</a></li>
                     <li><a href="/products/all">ALL</a></li>
                  </ul>
               </nav>
               <br>
               <div class="fixed bottom-12 p-3 pl-0 flex flex-row justify-between">
                  <a class="mr-4" href="/cart">CART</a>
                  <a href="/login">MY ACCOUNT</a>
               </div>
            </div>

            <div class="p-3 flex flex-col col-span-2">
               <div class="h-10">
                  <form action="/search-results" method="POST">
                     <input id="search" class="border-gray-200" type="search" name="search" placeholder="SEARCH">
                     <button class="space-x-3 items-center px-3 py-2 bg-white hover:border rounded-full focus:ring-2 focus:ring-black">
                     <span class="text-white text-l font-bold">🔍</span>
                     </button>
                  </form>
               </div>

               <div class="mt-5 mb-12">
                  {{{body}}}
               </div>
            </div>
         </div>
         
         <footer class="fixed inset-x-0 bottom-0 border-black bg-white border-t p-3 h-12 flex flex-row justify-between">
            <div class="flex flex-row justify-between">
               <a href="/location">FIND A STOCKIST</a>
            </div>
            <div>
               <div class="text-xl font-bold"><a href="/">T.O.R.P.S</a></div>
            </div>
            <div class="flex flex-row justify-between">
               <p class="pr-3"><a href="/about">About</a></p>
               <p class="pr-3"><a href="/terms-and-conditions">Terms and Conditions</a></p>
               <div><a href="/contact">Contact</a></div>
            </div>
         </footer>

      </div>

      <script src="/js/script.js"></script>

   <script src="https://www.paypal.com/sdk/js?client-id=test"></script>
   <script>
      paypal.Buttons().render('#paypal-button-container');
   </script>
</body>

</html>