<div class="grid grid-cols-2">
    <div>
        <div class="text-xl">DELIVERY ADDRESS</div>
    
        <div class="mt-5">
            <p class="bg-gray-200">{{userInSession.address}}</p>
            <button class="space-x-3 items-center px-3 py-2 bg-green-400 hover:border rounded-full focus:ring focus:ring-black"><a href="/placemyorder">PROCEED WITH THE DEFAULT ADDRESS</a></button>
        </div>
        <br>

        <div>ADD A NEW ADDRESS:</div>
        <form class="flex flex-col" action="/placemyorder" method="POST">
            <label class="block" for="fullName">
                <input id="fullName" type="text" name="fullName" placeholder="FULL NAME" required>
            </label>
            <br>
            <label class="block" for="phoneNumber">
                <input id="phoneNumber" type="text" name="phoneNumber" placeholder="PHONE NUMBER">
            </label>
            <br>
            <label class="block" for="address">
                <input class="block" name="addressLine1" type="text" placeholder="Street name and number, pickup location" required>
                <br><br>
                <input name="addressLine2" type="text" placeholder="Company name, P.O.Box, c/o">
            </label>
            <br>
            <label for="postcode">
                <input id="postcode" name="postcode" type="text" placeholder="12345" required>
            </label>
            <br>
            <label for="city">
                <input id="city" name="city" type="text" placeholder="Town/City" required>
            </label>
            <br>
            <div class="block">
                <button class="space-x-3 items-center px-3 py-2 bg-green-400 hover:border rounded-full focus:ring focus:ring-black" type="submit">USE THIS ADDRESS</button>
            </div>
           
        </form>
    </div>
    <div></div>
    <div></div>
</div>