<h2>Thank you!</h2>
<!-- 
    if the order is received by the backend email, then it'll display "order is successful placed".
    if the payment had problems, then it'll display "there is an error proceeding payment, please change another payment method or stuff like that"
-->

<a href="/profile">Profile</a>
<a href="/">Home</a>