<h1 class="text-xl">ABOUT</h1>
<br>
<div class="grid grid-cols-3">
    <div class="col-span-2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nesciunt voluptate, doloribus ex alias vero ratione soluta repellat facere quaerat eos commodi cum, consequuntur animi suscipit voluptatibus! Quisquam, doloribus quae!</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nesciunt voluptate, doloribus ex alias vero ratione soluta repellat facere quaerat eos commodi cum, consequuntur animi suscipit voluptatibus! Quisquam, doloribus quae!</p>
    </div>
    <div></div>
</div>
