<h2>LOGIN</h2>
<form class="flex flex-col" action="/login" method="POST">
    <label for="email">E-Mail Address: </label>
	<input type="text" name="username">
	
    <label for="password">Password: </label>
    <input type="password" name="password">
	
    <label for="remember">Remember Me</label>
    <input type="checkbox" name="remember">

    <button type="submit">Login</button>

    <ul>
        <li><a href="/forgot-password">Forgot My Password</a></li>
        <li><a href="/signup">Create Account</a></li>
    </ul>
</form>

{{#if message}}
	<h4 class="error">{{message}}</h4>
{{/if}}
