<h2 class="mt-5 text-xl">LOGIN</h2>
<form class="mt-3 flex flex-col" action="/login" method="POST">
    <label for="email">E-Mail Address: </label>
	<input class="rounded-md bg-gray-200" type="text" name="email">
	
    <label for="password">Password: </label>
    <input type="password" name="password">
	   
    <label for="remember">Remember Me</label>
    <input type="checkbox" name="remember">

    <button class="rounded bg-red" type="submit">Login</button>
</form>
<ul>
    <li><a href="/forgot-password">Forgot My Password</a></li>
    <li><a href="/signup">Create Account</a></li>
</ul>

{{#if message}}
	<h4 class="error">{{message}}</h4>
{{/if}}
