<h2 class="text-xl">LOGIN</h2>
<div class="grid grid-cols-3">
    <div>
        <form class="grid grid-cols-1" action="/login" method="POST">
            <label class="block" for="email"> <br> </label>
            <input class="mt-1
                        block
                        " type="text" name="email" placeholder="EMAIL" required>
            
            <label class="block" for="password"> <br> </label>
            <input type="password" name="password" placeholder="PASSWORD" required>

            <label class="block" for="remember">
                <small>
                    REMEMBER ME<input type="checkbox" name="remember">
                </small>
            </label>
            <br>
            <div class="block">
                <button class="btn" type="submit">LOG IN</button>
            </div>
        </form>

    </div>
    <div></div>
    <div class="grid grid-cols-1">
        <a class="block font-sm text-gray-400" href="/forgot-password">FORGOT MY PASSWORD</a>
        <a class="block text-sky-400" href="/signup">CREATE ACCOUNT</a>
    </div>
    
</div>


{{#if message}}
	<h4 class="error">{{message}}</h4>
{{/if}}
