<div class="grid grid-cols-3">
    <div>
        <h2 class="text-xl">CREATE ACCOUNT</h2>
        <br>
        <form class="grid grid-cols-1" action="/signup" method="POST">
            <label class="block mt-1" for="firstName"></label>
            <input class="block py-3" type="text" name="firstName" placeholder="FIRST NAME">
            
            <label class="block" for="lastName"><br></label>
            <input class="block" type="text" name="lastName" placeholder="LAST NAME">
        
            <label class="block" for="email"><br></label>
            <input class="border w-40" type="email" name="email" placeholder="EMAIL" required>
            
            <label class="block" for="password"><br></label>
            <input class="border w-40" type="password" name="password" placeholder="PASSWORD" required>
            
            <br>
            <div>
                <button class="space-x-3 items-center px-3 py-2 bg-white hover:border rounded-full focus:ring-2 focus:ring-black" type="submit">CREATE</button>
            </div>
        </form>

        {{#if message}}
        <h4>{{message}}</h4>
        {{/if}}
    </div>
    <div></div>
    <div></div>
    
</div>

