<h2>CREATE ACCOUNT</h2>
<form action="/signup" method="POST">
    <input type="text" name="firstName" placeholder="FIRST NAME">
    <input type="text" name="lastName" placeholder="LAST NAME">
    <input type="email" name="email" placeholder="EMAIL">
    <input type="password" name="password" placeholder="PASSWORD">
    <button type="submit">CREATE</button>
</form>